<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mathematics</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style th:if="${design} != 'standard'">
        body {
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<div th:insert="parts/tags :: tags"></div>

<div class="container unauthenticated">
    <a th:text="#{login}"/>
    <a href="/oauth2/authorization/github"> GitHub</a>
    <a href="/oauth2/authorization/facebook"> Facebook</a>
    <a href="/oauth2/authorization/google"> Google</a><br>
</div>

<div class="container authenticated" style="display:none">
    <div th:insert="parts/header :: header"></div>

    <h1> [[#{welcome}]] <span id="user"></span></h1>

    <div>
        <button onClick="logout()" class="btn btn-primary" th:text="#{logout}"/>
    </div>
    <br>
</div>
<div class="container mt-3">
    <div th:each="el : ${page}" class="alert alert-info mt-2">
        <a th:text="${el.rating}"></a><i class="far fa-star"></i><br>
        <h3 th:text="${el.name}"/>
        <p th:text="${el.theme}"/>
        <p th:text="${el.tags}"/>
        <b th:text="#{author}"/>
        <a th:href="'/office/' + ${el.author.id}" th:text="${el.authorName}"></a><br>
        <a th:href="'/exercises/' + ${el.id}" class="btn btn-warning" th:text="#{details}"/><br>
        <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}"
           th:if="${userId == el.author.id} or ${isAdmin}" th:text="#{edit}"/></td>
        <a th:href="'/exercises/' + ${el.id} + '/delete'"
           th:if="${userId == el.author.id} or ${isAdmin}" th:text="#{delete}"/><br>
    </div>
    <div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" th:text="#{pages}"></a>
            </li>
            <th:block th:each="pageNumber : ${body}">
                <li th:if="${pageNumberStat.first}" class="page-item">
                    <a th:if="${page.getNumber()} > 0" class="page-link" th:href="${url} + '?page='+ ${page.getNumber() - 1} + '&size=' + ${page.getSize()}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active" th:if="${pageNumber} == ${page.getNumber()+1}">
                    <a class="page-link" th:text="${pageNumber}" href="#"></a>
                </li>
                <li class="page-item disabled" th:if="${pageNumber} == -1">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:if="${pageNumber} != -1 and ${pageNumber} != ${page.getNumber() + 1}">
                    <a class="page-link" th:text="${pageNumber}" th:href="${url} + '?page='+ ${pageNumber - 1} + '&size=' + ${page.getSize()}"></a>
                </li>
                <li th:if="${pageNumberStat.last}" class="page-item"  aria-label="Next">
                    <a th:if="${page.getNumber()} < ${body.length - 1}" class="page-link" th:href="${url} + '?page='+ ${page.getNumber() + 1} + '&size=' + ${page.getSize()}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </th:block>
        </ul>

        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" th:text="#{elements}"></a>
            </li>
            <th:block th:each="pageNumber : ${sizeList}">
                <li th:if="${pageNumber == page.getSize()}" class="page-item active" >
                    <a class="page-link" href="#" th:text="${pageNumber}"></a>
                </li>
                <li th:if="${pageNumber != page.getSize()}" class="page-item">
                    <a class="page-link"
                       th:href="${url} + '?page=0&size=' + ${pageNumber}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </th:block>
        </ul>

        <ul class="pagination">
            <th:block>
                <li class="page-item">
                    <a class="page-link"
                       th:href="${url} + '?page=0&size=5&sort=rating,desc'"
                       th:text="#{showTop}">
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $
        .ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                    || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });

    $.get("/user", function(data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });

    var logout = function() {
        $.post("/logout", function() {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    };

    $.get("/error", function(data) {
        if (data) {
            $(".error").html(data);
        } else {
            $(".error").html('');
        }
    });
</script>
</body>
</html>
