<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>

</head>
<body>
<h1>Welcome, <span id="user"></span></h1>
<div class="alert alert-danger" role="alert" th:if="${isBlocked}"><p th:text="${isBlocked}" /></div>

<div class="container unauthenticated">
    With GitHub: <a href="/oauth2/authorization/github">click here</a><br>
    With Facebook: <a href="/oauth2/authorization/facebook">click here</a><br>
    With Google: <a href="/oauth2/authorization/google">click here</a>
</div>

<div class="container authenticated" style="display:none">
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
    <br>

    <table class="table" id="table">
        <thead>
        <td class="checkbox select-all">
            <input id="all" type="checkbox" />
            <label for="all"></label>
        </td>
        <td>id</td>
        <td>username</td>
        <td>socialNetwork</td>
        <td>firstEntry</td>
        <td>lastEntry</td>
        <td>isActive</td>
        </thead>
        <tr th:each="el : ${users}">

            <td class="checkbox rows">
                <input id="${el.id}" type="checkbox" />
                <label for="${el.id}"></label>
            </td>
            <td th:text="${el.id}"/>
            <th th:text="${el.userName}"/>
            <td th:text="${el.socialNetwork}"/>
            <td th:text="${el.firstEntry}"/>
            <td th:text="${el.lastEntry}"/>
            <td th:text="${el.isActive()}"/>
            <td><a method="get" th:href="'delete/' + ${el.id}">del</a></td>
            <td><a method="get" th:href="'update/' + ${el.id}">update</a></td>

        </tr>
    </table>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="input" onkeyup="filter()" placeholder="Search for username..">
    </div>
</div>

<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
<script type="text/javascript">
    $
        .ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                    || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
    $.get("/user", function(data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });
    var logout = function() {
        $.post("/logout", function() {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    };
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['network', 'count'],
            ['Google',     7],
        ['Facebook',    11],
        ['Github',    1]
        ]);

        var options = {
            title: 'User statistics',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    };

    $.get("/error", function(data) {
        if (data) {
            $(".error").html(data);
        } else {
            $(".error").html('');
        }
    });

    $('#all').change(function(e) {
        if (e.currentTarget.checked) {
            $('.rows').find('input[type="checkbox"]').prop('checked', true);
        } else {
            $('.rows').find('input[type="checkbox"]').prop('checked', false);
        }
    });

    function filter() {
        var input, filter, table, tr, th, i, txtValue;
        input = document.getElementById("input");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            th = tr[i].getElementsByTagName("th")[0];
            if (th) {
                txtValue = th.textContent || th.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };
</script>
</body>
</html>