<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style th:if="${design} != 'standard'">
        body {
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<div th:if="${!read_only}" th:insert="parts/header :: header" class="container"></div>
<a href="/" th:if="${read_only}" th:text="#{mainLink}"></a>
<div class="container mt-5">
    <div th:each="el : ${exercises}" class="alert alert-info mt-2">
        <a th:text="${rating}"></a><i class="far fa-star"></i><br>
        <div th:if="${!isVoted}">
            <a th:href="'/exercises/' + ${el.id} +'/rating/1'">1</a>
            <a th:href="'/exercises/' + ${el.id} +'/rating/2'">2</a>
            <a th:href="'/exercises/' + ${el.id} +'/rating/3'">3</a>
            <a th:href="'/exercises/' + ${el.id} +'/rating/4'">4</a>
            <a th:href="'/exercises/' + ${el.id} +'/rating/5'">5</a>
        </div>
        <h3 th:text="${el.name}"/>
        <p th:text="${el.theme}"/>
        <p th:text="${el.tags}"/>
        <p th:text="${el.condition}"/>
        <div th:if="${el.images.length() > 5}" th:each="imgs : ${arrImages}">
            <img th:src="'http://drive.google.com/uc?export=view&id=' + ${imgs}" width="200"/>
        </div>
        <b th:text="#{author}"/>
        <a th:href="'/office/' + ${el.author.id}" th:text="${el.authorName}"></a><br>
        <div th:if="${!read_only}">
            <a th:href="'/exercises/' + ${el.id} +'/like'">
                <i th:text="${likes}"/>
                <i th:if="${like}" class="fas fa-thumbs-up"></i>
                <i th:if="${!like}" class="far fa-thumbs-up"></i>
            </a>
            <a th:href="'/exercises/' + ${el.id} +'/dislike'">
                <i th:text="${dislikes}"/>
                <i th:if="${dislike}"  class="fas fa-thumbs-down"></i>
                <i th:if="${!dislike}"  class="far fa-thumbs-down"></i>
            </a><br>
            <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}"
            th:if="${isCurrentUser} or ${isAdmin}" th:text="#{edit}"/></td>
            <a th:href="'/exercises/' + ${el.id} + '/delete'"
               th:if="${isCurrentUser} or ${isAdmin}" th:text="#{delete}"/>

            <form th:if="${!isRightAnswers}" th:action="'/exercises/' + ${el.id} + '/answer'" method="post">
                <input name="answer" th:placeholder="#{your_answer} + '..'"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br>
                <button type="submit" th:text="#{verity}"/>
            </form>

        </div>
        <div th:if="${!read_only}">
            <p th:if="${!isRightAnswers} and ${answer} != 'your answer..'"
               class="alert alert-danger" role="alert" th:text="'\'' + ${answer} + '\' ' + #{is`nt_right}"/>
            <p th:if="${isRightAnswers}"
               class="alert alert-success" role="alert" th:text="'\'' + ${answer} + '\' ' + #{is_right}"/>
        </div>
        <form th:if="${!read_only}" method="post"
              th:action="'/exercises/' + ${el.id} + '/comment'">
            <input name="comment" th:placeholder="#{your_comment}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br>
            <button type="submit" th:text="#{add_comment}"/>
        </form>
    </div>
    <div th:each="el : ${comment}" class="alert alert-info m-lg-5">
        <p th:text="${el.text}"/>
        <b th:text="#{author}"/><p th:text="${el.idCommentUser.username}"/>
        <div th:if="${!read_only}" th:each="number : ${exercises}">
            <a th:href="'/exercises/' + ${number.id} + '/like/' + ${el.id}">
                <i th:text="${el.getCommentLikes().size()}"/>
                <i th:if="${el.getCommentLikes().contains(user)}" class="fas fa-thumbs-up"></i>
                <i th:if="${!el.getCommentLikes().contains(user)}" class="far fa-thumbs-up"></i>

            </a>
            <a th:href="'/exercises/' + ${number.id} + '/dislike/' + ${el.id}">
                <i th:text="${el.getCommentDislikes().size()}"/>
                <i th:if="${el.getCommentDislikes().contains(user)}" class="fas fa-thumbs-down"></i>
                <i th:if="${!el.getCommentDislikes().contains(user)}" class="far fa-thumbs-down"></i>

            </a>
        </div>
    </div>
</div>
</body>
</html>
