<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="parts/header :: header"></div>

<div class="container mt-5">
    <div th:each="el : ${exercises}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.theme}"/>
        <p th:text="${el.tags}"/>
        <p th:text="${el.condition}"/>
        <p th:text="${el.images}"/>
        <p th:text="${el.rightAnswers}"/>
        <b>Author: </b>
        <a th:href="'/office/' + ${el.author.id}" th:text="${el.authorName}"></a><br>
        <a th:href="'/exercises/' + ${el.id} +'/like'">
            <i th:text="${likes}"/>
            <i th:if="${like}" class="fas fa-thumbs-up"></i>
            <i th:if="${!like}" class="far fa-thumbs-up"></i>
        </a>
        <a th:href="'/exercises/' + ${el.id} +'/dislike'">
            <i th:text="${dislikes}"/>
            <i th:if="${dislike}"  class="fas fa-thumbs-down"></i>
            <i th:if="${!dislike}"  class="far fa-thumbs-down"></i>
        </a><br>
        <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}"
        th:if="${isCurrentUser}">edit</a></td>
        <a th:href="'/exercises/' + ${el.id} + '/delete'"
           th:if="${isCurrentUser}">delete</a>


    </div>
</div>

</body>
</html>