<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{office}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style th:if="${design} != 'standard'">
        body {
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<div th:insert="parts/header :: header"/>
<a th:if="${isAdmin}" href="/admin_panel" th:text="#{admin_panel}"/>

<div th:if="${isCurrentUser} or ${isAdmin}" th:insert="parts/exercise :: createExercise"></div>
<div th:if="${exercise}">
    <form method="post">
        <input type="text" name="name" th:placeholder="#{name}" th:value="${exercise.name}"/><br>
        <select name="theme">
            <option selected="selected">[[${exercise.theme}]]</option>
            <option>Geometry</option>
            <option>Algebra</option>
            <option>Number theory</option>
            <option>Java</option>
        </select>
        <input type="text" name="tags" th:placeholder="#{tags}" th:value="${exercise.tags}"/><br>
        <textarea type="text" name="condition" th:placeholder="#{condition}">[[${exercise.condition}]]</textarea><br>
        <input type="text" name="images" placeholder="images" th:value="${exercise.images}"/><br>
        <input type="text" name="rightAnswers" th:placeholder="#{rightAnswers}" th:value="${exercise.rightAnswers}"/><br>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br>
        <button type="submit" th:text="#{edit}"/>
    </form>
</div>
<div>
    <h1 th:text="${username} + ', ' + #{personal_achievements}"/>
    <p th:text="#{tasks_created} + ' ' + ${taskCreated}"/>
    <p th:text="#{solved_problems} + ' ' + ${taskSolved}"/>
</div>
    <table class="table" id="table">
        <thead>
            <td th:text="#{nameTable}"/>
            <td th:text="#{themeTable}"/>
            <td th:text="#{tagsTable}"/>
        </thead>
        <tr th:each="el : ${exercises}">
            <th th:text="${el.name}"/>
            <th th:text="${el.theme}"/>
            <th th:text="${el.tags}"/>
            <td><a th:href="'/exercises/' + ${el.id}" th:text="#{link}"/></td>
            <td th:if="${userId == el.author.id} or ${isAdmin}">
                <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}" th:text="#{edit}"/></td>
            <td th:if="${userId == el.author.id} or ${isAdmin}">
                <a th:href="'/exercises/' + ${el.id} + '/delete'" th:text="#{delete}"/></td>
        </tr>
    </table>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1"
               id="input" onkeyup="filter()" th:placeholder="#{search_for_name}">
    </div>
<script type="text/javascript">
    function filter() {
        var input, filter, table, tr, th, i, txtValue;
        input = document.getElementById("input");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            th = tr[i].getElementsByTagName("th")[0];
            if (th) {
                txtValue = th.textContent || th.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };
    document.addEventListener('DOMContentLoaded', () => {
        const getSort = ({ target }) => {
            const order = (target.dataset.order = -(target.dataset.order || -1));
            const index = [...target.parentNode.cells].indexOf(target);
            const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
            const comparator = (index, order) => (a, b) => order * collator.compare(
                a.children[index].innerHTML,
                b.children[index].innerHTML
            );
            for(const tBody of target.closest('table').tBodies)
                tBody.append(...[...tBody.rows].sort(comparator(index, order)));

            for(const cell of target.parentNode.cells)
                cell.classList.toggle('sorted', cell === target);
        };
        document.querySelectorAll('.table thead').forEach(tableTH => tableTH.
        addEventListener('click', () => getSort(event)));
    });
</script>

</body>
</html>