<div th:fragment="createExercise">
    <div class="collapse" id="collapseExample">
        <div class="card card-body alert-info mt-2">
            <form th:action="'/office/' + ${getId} + '/creat'" method="post">
                <input type="text" name="name" th:placeholder="#{name}"/><br>
                    <select name="theme">
                        <option selected="selected" th:text="#{theme}"></option>
                        <option>Geometry</option>
                        <option>Algebra</option>
                        <option>Number theory</option>
                        <option>Java</option>
                    </select>
                <input type="text" name="tags" th:placeholder="#{tags}"/><br>
                <textarea type="text" name="condition" th:placeholder="#{condition}"></textarea><br>
                <input type="text" name="images" placeholder="images"/><br>
                <input type="text" name="rightAnswers" th:placeholder="#{rightAnswers}"/><br>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br>
                <button type="submit" th:text="#{create}"/>
            </form>
        </div>
    </div>
    <p>
        <button class="btn btn-primary m-lg-5" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample" th:text="#{task_creation}"/>
    </p>
</div>

<div th:fragment="allExercises">
    <div class="container mt-3">
        <div th:each="el : ${exercises}" class="alert alert-info mt-2">
            <!--<div>
                <img th:src="@{/img/{filename}(filename = ${el.images})}">
            </div> -->
            <a th:text="${el.rating}"></a><i class="far fa-star"></i><br>
            <h3 th:text="${el.name}"/>
            <p th:text="${el.theme}"/>
            <p th:text="${el.tags}"/>
            <b th:text="#{author}"/>
            <a th:href="'/office/' + ${el.author.id}" th:text="${el.authorName}"></a><br>
            <a th:href="'/exercises/' + ${el.id}" class="btn btn-warning" th:text="#{details}"/><br>
            <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}"
               th:if="${userId == el.author.id} or ${isAdmin}" th:text="#{edit}"/></td>
            <a th:href="'/exercises/' + ${el.id} + '/delete'"
               th:if="${userId == el.author.id} or ${isAdmin}" th:text="#{delete}"/><br>
        </div>
    </div>
</div>
