<div th:fragment="createExercise">
    <div class="collapse" id="collapseExample">
        <div class="card card-body alert-info mt-2">
            <form th:action="'/office/' + ${user.getId()} + '/creat'" method="post">
                <input type="text" name="name" placeholder="name"/><br>
                    <select name="theme">
                        <option selected="selected">theme..</option>
                        <option>Geometry</option>
                        <option>Algebra</option>
                        <option>Number theory</option>
                        <option>Java</option>
                    </select>
                <input type="text" name="tags" placeholder="tags"/><br>
                <textarea type="text" name="condition" placeholder="condition"></textarea><br>
                <input type="text" name="images" placeholder="images"/><br>
                <input type="text" name="rightAnswers" placeholder="rightAnswers"/><br>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
    <p>
        <button class="btn btn-primary m-lg-5" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Task creation
        </button>
    </p>
</div>

<div th:fragment="allExercises">
    <div class="container mt-3">
        <div th:each="el : ${exercises}" class="alert alert-info mt-2">
            <!--<div>
                <img th:src="@{/img/{filename}(filename = ${el.images})}">
            </div> -->
            <a th:text="${el.rating}"></a><i class="far fa-star"></i><br>
            <p th:text="${el.name}"/>
            <p th:text="${el.theme}"/>
            <p th:text="${el.tags}"/>
            <b>Author: </b>
            <a th:href="'/office/' + ${el.author.id}" th:text="${el.authorName}"></a><br>
            <a th:href="'/exercises/' + ${el.id}" class="btn btn-warning">details</a><br>
            <a th:href="'/office/' + ${el.author.id} + '?exercise=' + ${el.id}"
               th:if="${userId == el.author.id} or ${isAdmin}">edit</a></td>
            <a th:href="'/exercises/' + ${el.id} + '/delete'"
               th:if="${userId == el.author.id} or ${isAdmin}">delete</a><br>
        </div>
    </div>
</div>